/* SVG CHARTS */
#tyw_month_chart {
	margin-top: 1%;
	margin-bottom: 5%;
	width: inherit;
	text-align: center;
}

/*
* Writing stats
*/

.tyw-totals {
	font-size: 20px;
}

.tyw-settings-left {
	width: 60%;
	float: left;
}

.tyw-sidebar-left {
	width: 40%;
	float:left;
}

.tyw-goal-setting {
	float: left;
	width: 60%;
}

.writing-goals {
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-weight: 600;
}

.writing-goals h1 {
	color: #00a000;
	font-weight: 600; !important;
	border-bottom: 1px solid #efefef;
}

.writing-goals p {
	font-size: 20px;
}

.writing-data {
	padding-left: 20px;
	padding-right: 20px;
}

.writing-data h2 {
	border-bottom: 1px solid #efefef;
}
.set-goals {
	padding-left: 20px;
	padding-right: 20px;
}

.set-goals h1 {
	color: #a00058;
	font-weight: 600; !important;
	border-bottom: 1px solid #efefef;
}

/*
* Profile
*/

#tyw-profile {
	padding-left: 20px;
}

.tyw-avatar {
	float: right;
	margin-right: 20px;
}

.tyw-avatar-data {
	margin: 0;
	font-size: 14px;
}

.tyw-avatar-data span {
	font-weight: 600;
}
